<body>
<div class="col-md-6">
  <h2 class="text-center">Edit touristAttraction</h2>
    <form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input [(ngModel)]="touristAttraction.name" placeholder="{{touristAttraction.name}}" name="name" class="form-control" id="name">
    </div>
    <div class="form-group">
      <label for="address">Address:</label>
      <input [(ngModel)]="touristAttraction.address" placeholder="{{touristAttraction.address}}" name="address" class="form-control" id="address">
    </div>
    <!--<div class="form-group">-->
      <!--<label for="details">details:</label>-->
      <!--<input [(ngModel)]="touristAttraction.details" placeholder="{{touristAttraction.details}}" name="details" class="form-control" id="details">-->
    <!--</div>-->

      <!--<div class="form-group">-->
        <!--<label for="city_id">City_id:</label>-->
        <!--<input [(ngModel)]="touristAttraction.city_id" placeholder="{{touristAttraction.city_id}}" name="city_id" class="form-control" id="city_id">-->
      <!--</div>-->

      <div class="form-group">
        <label for="latitude">Latitude:</label>
        <input [(ngModel)]="touristAttraction.lat" placeholder="{{touristAttraction.lat}}" name="latitude" class="form-control" id="latitude">
      </div>
      <div class="form-group">
        <label for="longitude">Longitude:</label>
        <input [(ngModel)]="touristAttraction.lon" placeholder="{{touristAttraction.lon}}" name="longitude" class="form-control" id="longitude">
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea type="text" [(ngModel)]="touristAttraction.details" placeholder="{{touristAttraction.details}}" name="description" class="form-control" id="description"></textarea>
      </div>
    <button class="btn btn-success" (click)="editTouristAttraction()">Update</button>

      <p>
        Add more images for {{touristAttraction.name}}
      </p>

      <img *ngFor='let url of imgURLs' [src]="url" height="200"> <br/>

      <input type='file' (change)="onFileChanged($event)" multiple>
      <button class="btn btn-success" (click)="onUpload()">Create</button>
      <p>
        {{hotel.name}} images
      </p>

    </form>
</div>
<div *ngFor='let imagetouristAttraction of touristAttractionImages'>
  <img src="data:image/png;base64,{{imagetouristAttraction.pic}}" width="300" height="200" style="padding:10px"/>
  <button mat-raised-button (click)="deleteTouristAttractionImageById(imagetouristAttraction.id)">Remove</button>
</div>
</body>
