* {
  /*
  -May want to add "border-box for "box-sizing so padding does not affect width
  -Reset margin and padding
 */
  margin:0;
  padding:0;
  box-sizing:border-box;

}

body {
  position: absolute;
  z-index: -1;
  background-color: #a2d0e2;
  /*background-image:url('../../../assets/vacancy-background.png');
  background-size:cover;
  background-position: center center;*/
  min-height:100%;
  min-width:100%;
  /*z-index: -1;*/
  opacity:1;
}
div {
  height: 400px;
  width: 100%;
}
#title{
  color:black;
 text-align: center;

}
